html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header,
hgroup, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 1440px;
  height: 800px;
}

.first {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.first-texts {
  height: 100%;
  width: 50%;
}
.first-texts-title {
  width: 70%;
  color: hsl(300, 43%, 22%);
  font-size: 7rem;
  font-weight: 600;
}
.first-texts-desc {
  width: 85%;
  color: hsl(303, 10%, 53%);
  font-size: 2.3rem;
  padding-top: 2em;
}
.first-rates {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-direction: column;
}
.first-rates-review {
  background-color: hsl(300, 24%, 96%);
  width: 75%;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.first-rates-review-text {
  font-size: 2rem;
  padding-right: 3em;
  color: hsl(300, 43%, 22%);
  font-weight: bold;
}
.first-rates-review:nth-last-child(1) {
  padding: 0;
}
.first-rates-review:nth-last-child(2) {
  margin-right: 5em;
}
.first-rates-review:nth-last-child(3) {
  margin-right: 10em;
}

.second {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
}
.second-comments {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second-comments-comment {
  background-color: hsl(300, 43%, 22%);
  height: 45%;
  width: 26.5%;
  border-radius: 15px;
  padding: 3.5em;
}
.second-comments-comment-profile {
  width: 45%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.second-comments-comment-profile-img {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.second-comments-comment-profile-informations-name {
  font-size: 1.8rem;
  padding-bottom: 0.5em;
  color: hsl(0, 0%, 100%);
}
.second-comments-comment-profile-informations-verify {
  font-size: 1.6rem;
  color: hsl(333, 80%, 67%);
}
.second-comments-comment-message {
  padding-top: 2em;
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
  line-height: 25px;
}
.second-comments-comment:nth-last-child(1) {
  margin-top: 8em;
}
.second-comments-comment:nth-last-child(2) {
  margin-top: 4em;
}

@media (max-width: 375px) {
  body {
    width: 375px;
    height: 100%;
  }
  .first {
    height: 100%;
    flex-direction: column;
  }
  .first-texts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .first-texts-title {
    text-align: center;
    font-size: 4rem;
  }
  .first-texts-desc {
    padding-top: 1.2em;
    text-align: center;
    font-size: 1.7rem;
  }
  .first-rates {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .first-rates-review {
    background-color: hsl(300, 24%, 96%);
    width: 85%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em 0;
  }
  .first-rates-review-text {
    text-align: center;
    padding: 0;
    font-size: 2rem;
    color: hsl(300, 43%, 22%);
    font-weight: bold;
  }
  .first-rates-review:nth-last-child(1) {
    padding: 0;
  }
  .first-rates-review:nth-last-child(2) {
    margin-right: 0;
  }
  .first-rates-review:nth-last-child(3) {
    margin-right: 0;
  }
  .second {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .second-comments {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5em;
  }
  .second-comments-comment {
    background-color: hsl(300, 43%, 22%);
    height: 45%;
    width: 65%;
    border-radius: 15px;
    padding: 3.5em;
  }
  .second-comments-comment-profile {
    width: 70%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .second-comments-comment-profile-img {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .second-comments-comment-profile-informations-name {
    font-size: 1.8rem;
    padding-bottom: 0.5em;
    color: hsl(0, 0%, 100%);
  }
  .second-comments-comment-profile-informations-verify {
    font-size: 1.6rem;
    color: hsl(333, 80%, 67%);
  }
  .second-comments-comment-message {
    padding-top: 2em;
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    line-height: 25px;
  }
  .second-comments-comment:nth-last-child(1) {
    margin-top: 8em;
  }
  .second-comments-comment:nth-last-child(2) {
    margin-top: 4em;
  }
}/*# sourceMappingURL=style.css.map */